.CartView{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div>.product{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 200px;
    background-color: cadetblue;
}

.subtotal{
    text-align: right;
}

.checkout{
    display: flex;
    justify-content: right;
}

a[name='checkout']{
    background-color: yellow;
    border-color: black;
    border-style: solid;
}